section.partners
  .container
    .partners-list
      .partners-list__item
        img(src="static/images/content/partner-1.jpg", alt="")
      .partners-list__item
        img(src="static/images/content/partner-2.jpg", alt="")
      .partners-list__item
        img(src="static/images/content/partner-3.jpg", alt="")
      .partners-list__item
        img(src="static/images/content/partner-4.jpg", alt="")
      .partners-list__item
        img(src="static/images/content/partner-5.jpg", alt="")