section.review
  .container
    h1.section-title Нас рекомендуют

    .review-list
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')
      .review-list__item
        .video
          video(poster="static/images/content/testimonial-poster.jpg").video__player
            source(src="static/images/content/fatto_new.mp4")
          .video__title
            p Интерьер в Котово
          .video__btn
            +icon('play-button', 'video__btn-icon')