section.catalog
  .container
    .catalog__wrap
      h2.section-title Производство мебели
      .section-content
        p "Фатто" специализируется на изготовлении элитной, эксклюзивной мебели на заказ по индивидуальным размерам.
        p Собственная столярная мастерская позволяет нам воплотить в жизнь практически любую встроенную и корпусную мебель премиум класса из массива ольхи, дуба, ясеня или МДФ, в том числе по дизайн-проекту заказчика.

  .catalog-list
    .catalog-list__row
      .catalog-list__col.catalog-list__col--62
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-1.jpg", alt="")
            h3 Шкафы
      .catalog-list__col.catalog-list__col--38
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-2.jpg", alt="")
            h3 Двери
        .catalog-list__item.catalog-list__item--social
          a(href="#").catalog-list__link
            img(src="static/images/general/btn.svg", alt="")
            p Смотреть нас в instagram

    .catalog-list__row
      .catalog-list__col.catalog-list__col--38
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-3.jpg", alt="")
            h3 Детские
        .catalog-list__item.catalog-list__item--social
          a(href="categories.html").catalog-list__link
            img(src="static/images/general/btn.svg", alt="")
            p Смотреть нас в facebook
      .catalog-list__col.catalog-list__col--62
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-4.jpg", alt="")
            h3 Кухни

    .catalog-list__row
      .catalog-list__col.catalog-list__col--100
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-5.jpg", alt="")
            h3 Мебель для бизнеса

  include download.pug

  .catalog-list
    .catalog-list__row
      .catalog-list__col.catalog-list__col--62
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-6.jpg", alt="")
            h3 Столы и столики
      .catalog-list__col.catalog-list__col--38.catalog-list__col--small-text
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-7.jpg", alt="")
            h3 Тумбы, комоды, консоли, туалетные столики
        .catalog-list__item.catalog-list__item--social
          a(href="#").catalog-list__link
            img(src="static/images/general/btn.svg", alt="")
            p Смотреть нас в ВКонтакте

    .catalog-list__row
      .catalog-list__col.catalog-list__col--33
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-8.jpg", alt="")
            h3 Витрины и гостиные
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-9.jpg", alt="")
            h3 Гардеробные
      .catalog-list__col.catalog-list__col--33
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-10.jpg", alt="")
            h3 Кровати
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-11.jpg", alt="")
            h3 Лестницы
      .catalog-list__col.catalog-list__col--33
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-12.jpg", alt="")
            h3 Зеркала
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-13.jpg", alt="")
            h3 Мебель для ванной

    .catalog-list__row
      .catalog-list__col.catalog-list__col--50
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-14.jpg", alt="")
            h3 Экраны радиатора
      .catalog-list__col.catalog-list__col--50
        .catalog-list__item
          a(href="categories.html").catalog-list__link
            img(src="static/images/content/catalog-15.jpg", alt="")
            h3 Другие изделия

    .catalog-list__row
     .catalog-list__col.catalog-list__col--100
       .catalog-list__item.catalog-list__item--social.catalog-list__item--social-youtube
          a(href="#").catalog-list__link
            p Смотреть нас в YouTube