section.download
  .container
    .row
      .col-lg-6
        h2.section-title Скачать каталог
        .download__content
          p Оставьте свой электронный адрес чтобы получить ссылку <br>на скачивания нашего каталога в формате pdf
      .col-lg-6
        .download__form-wrap
          form.form.download__form
            .form-group
              label(for="download-email").form__label E-mail*
              input(type="text", name="email").form__field#download-email
            .form-group.form-group--btn
              input(type="submit", value="Отправить").btn.form__btn