.catalog-list
  &__row
    display: flex
    flex-wrap: wrap
    margin: 0 -5px
  &__col
    padding: 0 5px
    margin-bottom: 10px
    &--38
      width: 38%
      +r(767)
        width: 100%
      .catalog-list
        &__item
          h3
            +r(1200)
              font-size: 26px
            +r(992)
              font-size: 20px
            +r(767)
              font-size: 36px
            +r(480)
              font-size: 22px
    &--62
      width: 62%
      .catalog-list__item
        height: 100%
      +r(767)
        width: 100%
    &--100
      width: 100%
    &--33
      width: 33.33%
      +r(767)
        width: 100%
      .catalog-list
        &__item
          h3
            font-size: 36px
            +r(1200)
              font-size: 26px
            +r(992)
              font-size: 20px
            +r(767)
              font-size: 36px
            +r(480)
              font-size: 22px
    &--50
      width: 50%
      +r(767)
        width: 100%
      .catalog-list
        &__item
          h3
            font-size: 36px
            +r(992)
              font-size: 26px
            +r(767)
              font-size: 36px
            +r(480)
              font-size: 22px
    &--small-text
      .catalog-list
        &__item
          h3
            +r(1440)
              font-size: 26px
            +r(992)
              font-size: 22px
            +r(767)
              font-size: 36px
            +r(480)
              font-size: 22px
  &__item
    margin-bottom: 10px
    color: #fff
    &:last-child
      margin-bottom: 0
    h3
      position: absolute
      top: 50%
      left: 20px
      right: 20px
      transform: translateY(-50%)
      margin: 0
      font-size: 48px
      text-align: center
      +r(1200)
        font-size: 36px
      +r(480)
        font-size: 22px
    img
      width: 100%
      height: 100%
    &--social
      text-align: center
      background-color: $accent
      +transition
      .catalog-list
        &__link
          &::before
            display: none
      p
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        margin: 0
        font-size: 24px
        font-weight: 500
        white-space: nowrap
        +r(1200)
          font-size: 18px
      &:hover
        .catalog-list__link
          color: $main-color
      &-youtube
        .catalog-list
          &__link
            padding: 55px 20px
            +r(767)
              padding: 5%
            +r(480)
              padding: 10%
  &__link
    position: relative
    display: block
    height: 100%
    width: 100%
    color: inherit
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: rgba($main-color, 0.5)