section.categories-items
  .row
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-2.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-1.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-3.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-10.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-4.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-5.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-6.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-7.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-8.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее
    .col-md-4.col-lg-3.categories-items__item
      .categories-items__inner
        img(src="static/images/content/categories-9.jpg").categories-items__img
        a(href="product.html").btn.btn--transp Подробнее