section.categories
  .container
    .categories__top
      h1.categories__title Шкафы
      a(href="#").link-arrow.link-arrow--right
        | вернуться в каталог
        +icon('arrow-small-right', 'link-arrow__icon')