section.categories
  .container
    .categories__top
      h1.categories__title Шкафы 
      a(href="catalog.html").categories__link-back вернуться в каталог
        +icon('arrow-small-right', 'categories__link-back-icon')