section.seo-text
  .container
    .seo-text__content
      h2 Элитные шкафы на заказ
      p Изготовление шкафов по индивидуальным размерам занимает значимую часть от общего объема производимых столярных изделий компанией «Фатто». Продемонстрированные выше образцы шкафов являются лишь некоторыми примерами выполненных заказов, большая часть из которых реализована на основе дизайн-проекта или собственной идеи заказчика.
      p
        strong Производство мебели «Фатто» изготавливает шкафы премиум класса под заказ следующих категорий:
      ul
        li по материалу фасадов: массив ольхи, дуба, ясеня и МДФ;
        li по конструкции: корпусные и встроенные (встраиваемые);
        li по расположению: линейные и угловые;
        li по типу открытия фасадов: распашные и раздвижные;
        li по наличию дополнительных декоров: с зеркалами, стеклом, лакобелем, <br>резьбой, отделкой кожей и иными декоративными элементами;
        li по стилю: классические, современные, лофт, модерн, ар-деко, ампир, <br>прованс и иные;
        li по интерьерному расположению: в спальню, прихожую, коридор, детскую, <br>гостиную, ванную, постирочную, на балкон и лоджию.