section.scheme
  .container
    h2.section-title
      span Схема работы

    ol.scheme-list
      li.scheme-list__item
        .scheme-list__inner
          p Выбор концепции внешнего вида изделия, подача заявки
      li.scheme-list__item
        .scheme-list__inner
          p Проектирование
      li.scheme-list__item
        .scheme-list__inner
          p Выбор материалов и фурнитуры
      li.scheme-list__item
        .scheme-list__inner
          p Расчет стоимости
      li.scheme-list__item
        .scheme-list__inner
          p Замер
      li.scheme-list__item
        .scheme-list__inner
          p Заключение договор
      li.scheme-list__item
        .scheme-list__inner
          p Производство
      li.scheme-list__item
        .scheme-list__inner
          p Доставка и монтаж