section.online-order.section-dark
  .container
    h2.section-title Форма просчета стоимости и размещения онлайн-заказа
    .online-order__form-wrap
    form.form.online-order__form.row
      .col-md-6
        .form-group
          .form__label Имя*
          input.form__field
        .form-group
          .form__label Телефон*
          input.form__field
      .col-md-6
        .form-group
          .form__label E-mail*
          input.form__field
        .form-group
          .form__label Адрес доставки*
          input.form__field
      .col-md-12
        .form-group
          .form__label E-mail*
          textarea.form__field.form__field--textarea