.cost-products
  .section-content
    margin-bottom: 90px
    &:first-of-type
      margin-bottom: 50px
  &__slider
    margin-bottom: 70px
    &-item
      img
        width: 100%
  &__info
    display: flex
    margin-bottom: 145px
    &-text
      margin-right: 200px
    &-phone
      p
        margin: 0
        color: $ironside-gray
        a
          color: #fff
          font-weight: 700
          &:hover, &:focus
            color: $accent
  &__or
    color: $ironside-gray
    text-align: center