.cost-products
  padding-bottom: 0
  .section-content
    margin-bottom: 90px
    &:first-of-type
      margin-bottom: 50px
  &__slider
    margin-bottom: 70px
    &-item
      // position: relative
      // overflow: hidden
      // padding-top: 35%
      img
        // position: absolute
        // top: 0
        // left: 0
        width: 100%
        // height: auto
        // max-width: none

  &__info
    display: flex
    margin-bottom: 145px
    &-text
      margin-right: 200px
    &-phone
      p
        margin: 0
        color: $ironside-gray
        a
          color: #fff
          font-weight: 700
          &:hover, &:focus
            color: $accent
  &__or
    color: $ironside-gray
    text-align: center