section.contact
  .container
    h1.page-title Наши экспозиции

    .contact-list.row
      .contact-list__item.col-md-6
        .contact-list__img-wrap
          img(src="static/images/content/contact-1.jpg", alt="")
          a(href="static/images/content/contact-1.jpg", data-fancybox).contact-list__img-zoom
            +icon('zoom', 'contact-list__img-zoom-icon')
        a(href="#", data-lng="53.902473", data-lat="27.550103").contact-list__map-link
          +icon('placeholder', 'contact-list__map-icon')
          | Посмотреть на карте
        .contact-list__row.contact-list__row--address
          span.contact-list__label Адрес
          p Торговый центр "Метрополь" г.Минск, ул. Немига 5, 3 этаж
        .contact-list__row.contact-list__row--schedule
          span.contact-list__label Время работы
          p Пн-Пт 10.00-19.00, Сб-Вс выходной
        .contact-list__row.contact-list__row--phone
          a(href="tel:+375296908029").contact-list__phone +375 (29) 690-80-29 <br>
          a(href="mailto:office@fatto.by").contact-list__email office@fatto.by
        .contact-list__bottom
          .contact-list__person
            .contact-list__person-img
              img(src="static/images/content/contact-person-1.jpg", alt="")
            p.contact-list__person-text <strong>Кристина,</strong> менеджер по работе с клиентами

      .contact-list__item.col-md-6
        .contact-list__img-wrap
          img(src="static/images/content/contact-2.jpg", alt="")
          a(href="static/images/content/contact-2.jpg", data-fancybox).contact-list__img-zoom
            +icon('zoom', 'contact-list__img-zoom-icon')
        a(href="#", data-lng="55.817349", data-lat="37.387562").contact-list__map-link
          +icon('placeholder', 'contact-list__map-icon')
          | Посмотреть на карте
        .contact-list__row.contact-list__row--address
          span.contact-list__label Адрес
          p ТРК "Крокус Сити" ТЦ "Твой дом" 66 км МКАД, м.Мякинино, корпус 2, этаж 1
        .contact-list__row.contact-list__row--schedule
          span.contact-list__label Время работы
          p Пн-Вс 11.00-21.00
        .contact-list__row.contact-list__row--phone
          a(href="tel:+79651250599").contact-list__phone +7 (965) 125-05-99 <br>
          a(href="mailto:office@fatto.by").contact-list__email salon2@fatto.by
        .contact-list__bottom
          .contact-list__person
            .contact-list__person-img
              img(src="static/images/content/contact-person-2.jpg", alt="")
            p.contact-list__person-text <strong>Олеся</strong>, руководитель салона

script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU", defer)

.contact-map#contact-map(style="display: none")