@import 'youtube.sass'
@import 'video.sass'
@import 'social.sass'
@import 'categories-list'
@import 'link-arrow'

.scroll-down
  position: absolute
  left: 50%
  bottom: 80px
  transform: translateX(-50%)
  width: 18px
  height: 32px
  padding: 0
  border-radius: 20px
  border: 1px solid rgba(#fff, 0.2)
  background: none
  text-align: center
  cursor: pointer
  +transition
  +r(480)
    bottom: 50px
  &:hover
    border-color: rgba(#fff, 0.5)
  &:focus
    outline: none
  &__line
    display: inline-block
    vertical-align: top
    width: 2px
    height: 7px
    margin-top: 5px
    background-color: $accent
    +transition
    animation: scroll-down 1.5s linear infinite

@keyframes scroll-down
  0%
    transform: translateY(0)
  50%
    transform: translateY(5px)
  100%
    transform: translateY(0)

.section-dark
  margin-right: 10px
  margin-left: 10px
  background-color: $cod-gray-2
  color: #fff
  +r(767)
    margin: 0

.section-title
  margin-bottom: 50px
  line-height: 1.16
  +r(767)
  line-height: 1.5
  +r(480)
    margin-bottom: 30px

.section-content
  margin-bottom: 120px
  padding: 0 240px
  // column-count: 2
  // column-gap: 80px
  // +r(992)
  //   column-count: 1
  //   column-gap: 0
  +r(1440)
    padding: 0 120px
  +r(1200)
    padding: 0
  +r(767)
    margin-bottom: 50px
  p
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0

.page-title
  font-size: 36px
  margin-bottom: 140px
  +r(992)
    margin-bottom: 90px
  +r(480)
    font-size: 26px
    margin-bottom: 60px

.copyright
  margin: 0
  margin-right: 230px
  margin-left: auto
  font-size: 12px
  text-transform: uppercase
  text-align: center
  +r(1440)
    margin-right: 110px
  +r(1200)
    order: 1
    width: 100%
    margin-right: 0
    margin-top: 50px
  +r(992)
    margin-top: 30px

.phone
  & > *:not(:last-child)
    margin-right: 40px
  &__link
    color: inherit

.nav-links
  a
    color: inherit
    &:hover
      color: $accent
  .current
    color: $accent