.social
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  flex-wrap: wrap
  li
    margin-right: 30px
    +r(480)
      margin-right: 25px
    &:last-child
      margin-right: 0
  a
    font-size: 12px
    font-weight: 500
    color: inherit
    text-transform: uppercase
    &:hover, &:focus
      color: $accent