.video
  position: relative
  background-color: $main-color
  padding-top: 56.25%
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: linear-gradient(20deg, rgba(#000, 0.9) 5%, rgba(#000, 0) 50%)
    +transition
  &__player
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: -1
    // max-height: 680px
    // +r(767)
    //   max-height: none
    //   height: 260px
  &__btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    align-items: center
    justify-content: center
    +size(90px)
    padding-left: 5px
    background-color: rgba($accent, 0.6)
    border-radius: 50%
    cursor: pointer
    +transition
    &:hover
      background-color: rgba($accent, 0.8)
    &-icon
      width: 25px
      height: 35px
      fill: #fff
  &__title
    position: absolute
    left: 60px
    bottom: 50px
    color: #fff
    +transition
    +r(767)
      bottom: 20px
      right: 30px
      left: 30px
    p
      font-size: 24px
      font-weight: 500
      +r(767)
        font-size: 20px
      +r(480)
        font-size: 18px
      &:last-child
        margin-bottom: 0
  &--play
    &::before
      opacity: 0
      visibility: hidden
    .video__title
      opacity: 0
      visibility: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%