.header
  padding: 30px 0
  .container
    display: flex
    align-items: center
    justify-content: space-between
  &__nav
    &-one
      // margin-right: 180px
    &-two
      // margin-left: 180px