.header
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 30px 0
  z-index: 10
  .container
    display: flex
    justify-content: space-between
  &__nav
    &-one
      padding-top: 50px
    &-two
      padding-top: 50px