.logo
  display: flex
  flex-direction: column
  flex-shrink: 0
  &__top
    height: 115px
    margin-bottom: 10px
    +transition(1s)
    +r(1024)
      height: 67px
      margin-bottom: 5px
  &__bottom
    +transition
  +r(1024)
    margin: 0
    width: 70px