.footer
  padding: 115px 0
  background-color: #fff
  color: $mine-shaft
  font-weight: 500
  .container
    display: flex
    align-items: center
    // justify-content: space-between
  &__social
    margin-right: 30px