extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = ''

block content
  include pages/index/hero.pug
  include pages/index/about.pug
  include pages/index/our-production.pug
  include pages/index/project.pug
  include pages/index/advantages.pug
  include pages/index/testimonial.pug
  include pages/index/cost-products.pug