section.blog
  .container
    h1.page-title Наш блог

    .blog-list.row
      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»
        p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
        p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Особенности конструкций дверей компании «Фатто»
        p Все двери, выпускаемые на нашем предприятии, делаются только под заказ. Исходя из особенностей, возникающих во время монтажа, и отзывов своих клиентов мы вывели некоторый «стандарт» на свои межкомнатные двери:
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Особенности конструкций дверей компании «Фатто»
        p Все двери, выпускаемые на нашем предприятии, делаются только под заказ. Исходя из особенностей, возникающих во время монтажа, и отзывов своих клиентов мы вывели некоторый «стандарт» на свои межкомнатные двери:
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»
        p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
        p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»
        p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
        p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Особенности конструкций дверей компании «Фатто»
        p Все двери, выпускаемые на нашем предприятии, делаются только под заказ. Исходя из особенностей, возникающих во время монтажа, и отзывов своих клиентов мы вывели некоторый «стандарт» на свои межкомнатные двери:
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Особенности конструкций дверей компании «Фатто»
        p Все двери, выпускаемые на нашем предприятии, делаются только под заказ. Исходя из особенностей, возникающих во время монтажа, и отзывов своих клиентов мы вывели некоторый «стандарт» на свои межкомнатные двери:
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»
        p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
        p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Особенности конструкций дверей компании «Фатто»
        p Все двери, выпускаемые на нашем предприятии, делаются только под заказ. Исходя из особенностей, возникающих во время монтажа, и отзывов своих клиентов мы вывели некоторый «стандарт» на свои межкомнатные двери:
        a(href="article.html").blog-list__read-more Читать дальше

      .blog-list__item.col-lg-6
        h3.blog-list__title
          a(href="article.html") Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»
        p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
        p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
        a(href="article.html").blog-list__read-more Читать дальше