@import 'categories-items'

.categories
  padding: 140px 0
  +r(992)
    padding: 50px 0
  &__top
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
  &__title
    max-width: 1170px
    margin: 0
    margin-right: 20px
    font-size: 36px
    +r(1440)
      max-width: 900px
    +r(1200)
      max-width: 700px
    +r(480)
      font-size: 26px
  .link-arrow
    margin-top: 15px
    +r(480)
      margin-top: 10px