article.article
  .container
    .article__content.clearfix
      h1.page-title Правила по уходу и эксплуатации за изделиями из дерева от компании «Фатто»

      p Для того, чтобы мебель, двери и другие столярные изделия радовали Вас из года в год, необходимо соблюдать некоторые несложные правила ее эксплуатации.
      p Прямые солнечные лучи, резкие перепады температуры, повышенная влажность воздуха и механические воздействия – главные причины изменения внешнего вида изделий.
      h4 Солнечный свет
      p Несмотря на то, что компанией «Фатто» используются только нежелтеющие лаки и краски, старайтесь предотвращать попадание (длительного воздействия) прямых солнечных лучей на наши изделия. Продолжительное прямое воздействие света может повлечь за собой цветовое различие различных частей мебели, а также трещины на лакокрасочном покрытии. Это обусловлено ультрафиолетовым воздействием лучей солнца на древесину и лакокрасочные материалы. Они просто выгорают на солнце (немного желтеют или тускнеют).
      h4 Температура
      p Резкое колебание температуры, а также высокие или низкие их значения, могут вызвать ухудшение внешнего вида и эксплуатационных свойств мебели. Оптимальная температура воздуха при эксплуатации мебели – +15°С - +25°С. При этом категорически запрещается допускать контакт мебельных изделий с горячими предметами (нагревательные приборы, горячая посуда и т.д.), а также располагать их вблизи отопительных приборов. Нормальная влажность у высушенной древесины 8-10%. При длительном воздействии повышенной температуры влажность древесины может уменьшиться, что приводит к возникновению внутренних напряжений в материале, а как следствие- появление небольших трещин и изменения габаритных размеров (усыхание, кручение). Также не допускается продолжительное воздействие низкой температуры на изделия, покрытые лакокрасочными материалами на основе полиуретана. В результате чего могут появиться микротрещины на лакокрасочном покрытии (это обусловлено тем, что при охлаждении разные материалы сжимаются в разной степени, что приводит к трещинам на хрупких материалах).
      h4 Влажность
      p Оптимальная влажность воздуха в помещениях для эксплуатации мебельных изделий 60-70%. Рекомендуется избегать прямого контакта мебели с жидкостью. В случае попадания жидкости на поверхность мебельных изделий необходимо незамедлительно удалить её с помощью сухой мягкой тряпки. При возможности старайтесь поддерживать постоянный уровень влажности в помещении, используя увлажнители воздуха и чаще проветривайте помещение. При длительном воздействии жидкости древесина, МДФ и ДСП изменяют габаритные размеры (вздуваются), что приводит к растрескиванию или отслоению лакокрасочного покрытия. Повреждения такого типа не являются  гарантийными и устраняются за отдельную плату.
      h4 Механические воздействия
      p Для продления срока службы мебели, необходимо избегать нежелательных механических воздействий. Не передвигать по поверхности мебельных изделий твёрдых и острых предметов. Не превышать допустимые нагрузки на полки и выдвижные ящики. Не прилагать усилий для открытия/закрытия мебельной фурнитуры, во избежание выхода ее из строя. В раздвижных системах необходимо периодически очищать ролики от пыли и волос. При плохом открывании фасадов необходимо производить регулировку петель. Во избежание провисания широких полок рекомендуется тяжелые вещи ставить ближе к краю полки, а легкие ближе к центру. При сильных ударах на изделиях появляются вмятины и сколы. Все работы, связанные с реставрацией механических повреждений, не являются гарантийными и оплачиваются отдельно. Также нужно понимать, что при реставрации возможны отличия по цвету в местах реставрации (это связано с тем, что цвет краски разных партий может незначительно отличаться по тону).
      h4 Агрессивные вещества
      p Запрещается производить чистку мебели растворителями, щелочами, спиртом, кислотой и маслом. Чистку мебели следует производить специально предназначенными средствами, строго следуя инструкции на упаковке. Если вы не уверены в правильности выбранного чистящего средства, то рекомендуется сделать пробную чистку на специальном образце или невидимых участках мебели.
      h4 Безопасность
      p Во избежание опрокидывания корпусной мебели рекомендуется дополнительно крепить ее к стене. В комодах небольшой глубины ящики необходимо открывать по одному. Тяжелые предметы располагайте внизу изделий. Периодически поджимайте винты и шурупы на движущихся предметах. Не закрывайте отверстия, предназначенные для охлаждения электрических приборов.
      hr

    .article__bottom
      a(href="#").link-arrow.link-arrow--left
        +icon('arrow-small-left', 'link-arrow__icon')
        | Предыдущая
      a(href="#").link-arrow.link-arrow--right
        | Следующая
        +icon('arrow-small-right', 'link-arrow__icon')