footer.footer
  .container
    ul.social.footer__social
      li
        a(href="#") Facebook
      li
        a(href="#") Вконтакте
      li
        a(href="#") Instagram

    p.copyright &copy; 2009 - 2018 - fatto.by

    .phone.footer__phone
      a(href="tel:+375296908029").phone__link +375 (29) 690-80-29 BY
      a(href="tel:+79651250599").phone__link +7 (965) 125-05-99 RU