section.about
  .container
    h2.section-title Рады приветствовать Вас в числе посетителей и клиентов компании Фатто!
    .about__content
      p Уже на протяжении многих лет, начиная с 2009 года, мы активно трудимся над созданием мебели и предметов интерьерной отделки по индивидуальным заказам. С каждым годом багаж воплощенных в жизнь проектов прибавляет в масштабах, географических направлениях и интерьерных стилях.
      p Для Вашего удобства мы открыли выставочные павильоны в Минске и Москве, где можно наглядно ознакомиться с примерами изготовленных нами изделий.
      p А наличие у нашей компании собственного производства, конструкторского отдела, транспорта и монтажников существенно сэкономит Ваше время и затраты, а главное - воплотит мечту о качественном уютном интерьере.
      p Десятки реализованных дизайнерских проектов в по всей Беларуси и европейской части России позволяют нам с гордостью сказать, что первоклассные интерьеры – это уже не далекая мечта, а современная реальность.
    .slider.swiper-container
      .swiper-wrapper
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/about-slider-1.jpg", alt="")
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/about-slider-2.jpg", alt="")
          .slider__item-wrap
            img(src="static/images/content/about-slider-3.jpg", alt="")
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/about-slider-1.jpg", alt="")
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/about-slider-2.jpg", alt="")
          .slider__item-wrap
            img(src="static/images/content/about-slider-3.jpg", alt="")
      .slider__btns
        .swiper-button-prev
          +icon('arrow-left', 'slider__arrow slider__arrow--left')
        .swiper-button-next
          +icon('arrow-right', 'slider__arrow slider__arrow--right')