section.advantages
  .container
    h2.section-title Преимущества работы с Фатто

    .advantages__list.row
      .advantages__list-item.col-sm-6.col-lg-3
        .advantages__list-inner
          +icon('carpentry', 'advantages__list-icon')
          p Проектирование, изготовление <br>и монтаж у одного лица
      .advantages__list-item.col-sm-6.col-lg-3
        .advantages__list-inner
          +icon('motivate', 'advantages__list-icon')
          p Безупречное соблюдение <br>технологий
      .advantages__list-item.col-sm-6.col-lg-3
        .advantages__list-inner
          +icon('wallet', 'advantages__list-icon')
          p Оплата по наличному <br>и безналичному расчету
      .advantages__list-item.col-sm-6.col-lg-3
        .advantages__list-inner
          +icon('medal', 'advantages__list-icon')
          p Гарантия на изделия <br>2 года

    .advantages__address.row
      .advantages__address-item.col-md-6
        .advantages__address-img-wrap
          img(src="static/images/content/address-1.jpg", alt="")
        .advantages__address-content
          h3 Головной офис, Минск
          p Торговый центр "Метрополь" г. Минск, <br>ул. Немига 5, 3 этаж
      .advantages__address-item.col-md-6
        .advantages__address-img-wrap
          img(src="static/images/content/address-2.jpg", alt="")
        .advantages__address-content
          h3 Выставочный павильон, Москва
          p ТРК "Крокус Сити" ТЦ "Твой дом" 66 км МКАД, <br>м. Мякинино, корпус 2, этаж 1