section.cost-products.section-dark
  .container
    h2.section-title Стоимость изделий
    .section-content
      p По желанию Заказчика мы можем изготовить практически любую мебель из массива ольхи, дуба, ясеня или МДФ, эксклюзивные двери и лестницы, а также комплексно оформить интерьер Вашей квартиры или загородного дома.
      p Мы всегда предлагаем честную цену на свои изделия, исходя прежде всего из сложности проекта. Т.к. все изделия изготавливаются по индивидуальному проекту, говорить об их точной стоимости можно только после согласования всех материалов, фурнитуры и вида покраски.
    .section-content
       p Ниже приведены некоторые изделия и их стоимость. По ним можно понять порядок цен на изготавливаемую нами мебель.
  .cost-products__slider.swiper-container
    .swiper-wrapper
      .swiper-slide.cost-products__slider-item
        img(src="static/images/content/cost-slider-1.jpg", alt="")
      .swiper-slide.cost-products__slider-item
        img(src="static/images/content/cost-slider-2.jpg", alt="")
      .swiper-slide.cost-products__slider-item
        img(src="static/images/content/cost-slider-3.jpg", alt="")
      .swiper-slide.cost-products__slider-item
        img(src="static/images/content/cost-slider-4.jpg", alt="")
      .swiper-slide.cost-products__slider-item
        img(src="static/images/content/cost-slider-5.jpg", alt="")

  .container
    .cost-products__info
      .cost-products__info-text
        p Получить консультацию, в том числе и по стоимости предполагаемого изделия, <br>или начать работу с «Фатто» можно по номеру:
      .cost-products__info-phone
        p для жителей <a href="tel:+375296908029">РБ +375 29 690 80 29</a> (Пн-Пт 10.00-19.00)
        p для жителей <a href="tel:+375296908029">РФ +7 965 125 05 99</a> (Пн-Пт 10.00-19.00)
    p.cost-products__or Либо разместить онлайн-заявку на сайте