section(style="background-image: url('static/images/general/hero-bg.jpg')").hero
  .container
    .hero__content
      h1 Изготовление мебели
      p по индивидуальным заказам и дизайн-проектам
    button.scroll-down
      .scroll-down__line