section.our-production
  .container
    h2.section-title Наше производство
  .our-production__list
    .our-production__list-item.our-production__list-item--video
      //- .youtube(data-embed="")
      //-   .play-button
      .video
        video(poster="static/images/content/video-poster.jpg").video__player
          source(src="static/images/content/fatto_new.mp4")
        .video__btn
          +icon('play-button', 'video__btn-icon')
    .our-production__list-item.our-production__list-item--gray(style="background-image: url('static/images/content/our-product-1.jpg')")
      a(href="#").our-production__list-link
        h3.our-production__list-title Современная классика
    .our-production__list-item.our-production__list-item--brown(style="background-image: url('static/images/content/our-product-2.jpg')")
      a(href="#").our-production__list-link
        h3.our-production__list-title Городской лофт
    .our-production__list-item.our-production__list-item--green(style="background-image: url('static/images/content/our-product-3.jpg')")
      a(href="#").our-production__list-link
        h3.our-production__list-title Сталинский ампир