section.project
  .container
    h2.section-title Реализованные проекты
    .section-content
      p Производство мебели "Фатто" специализируется на изготовлении элитной, эксклюзивной мебели на заказ по индивидуальным размерам.
      p Собственная столярная мастерская позволяет нам воплотить в жизнь практически любую встроенную и корпусную мебель премиум класса из массива ольхи, дуба, ясеня или МДФ, в том числе по дизайн-проекту Заказчика.
    .slider.slider--project.swiper-container
      .swiper-wrapper
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/project-slider-1.jpg", alt="")
            h3.slider__title Классический интерьер <br>с белой мебелью
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/project-slider-2.jpg", alt="")
            h3.slider__title Коктейльный бар Martlet
          .slider__item-wrap
            img(src="static/images/content/project-slider-3.jpg", alt="")
            h3.slider__title Ресторан итальянской кухни «La Scala»
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/project-slider-1.jpg", alt="")
            h3.slider__title Классический интерьер <br>с белой мебелью
        .swiper-slide.slider__item
          .slider__item-wrap
            img(src="static/images/content/project-slider-2.jpg", alt="")
            h3.slider__title Коктейльный бар <br>Martlet
          .slider__item-wrap
            img(src="static/images/content/project-slider-3.jpg", alt="")
            h3.slider__title Классический интерьер <br>с белой мебелью
      .slider__btns
        .swiper-button-prev
          +icon('arrow-left', 'slider__arrow slider__arrow--left')
        .swiper-button-next
          +icon('arrow-right', 'slider__arrow slider__arrow--right')