section.s-testimonial
  .container
    h2.section-title Нас рекомендуют

    .slider.slider--testimonial.swiper-container
      .swiper-wrapper
        .swiper-slide.slider__item
          .video
            video(poster="static/images/content/testimonial-poster.jpg").video__player
              source(src="static/images/content/fatto_new.mp4")
            .video__title
              p Интерьер в Котово
            .video__btn
              +icon('play-button', 'video__btn-icon')
        .swiper-slide.slider__item
          .video
            <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=RDyUx27igFvkw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            .video__title
              p Интерьер в Котово
            .video__btn
              +icon('play-button', 'video__btn-icon')
      .slider__btns
        .swiper-button-prev
          +icon('arrow-left', 'slider__arrow slider__arrow--left')
        .swiper-button-next
          +icon('arrow-right', 'slider__arrow slider__arrow--right')