header.header
  .container
    nav.nav.header__nav-one
      ul.nav-list
        li
          a(href="#") Главная
        li
          a(href="#") Галерея
        li
          a(href="#") Блог
        li
          a(href="#") Контакты
        li
          a(href="#") Отзывы
    a(href="#").logo.header__logo
      img(src="static/images/general/logo-top.svg", alt="", width="120").logo__top
      img(src="static/images/general/logo-bottom.svg", alt="", width="120").logo__bottom
    .header__nav-two
      ul.nav-list
        li
          a(href="#") Кухни
        li
          a(href="#") Шкафы
        li
          a(href="#") Гардеробы
        li
          a(href="#") Детские
        li
          a(href="#") Двери
      button.nav-toggle
        span.nav-toggle__dot
        span.nav-toggle__dot
        span.nav-toggle__dot
    include mobile-menu.pug