.mobile-menu
  ul.nav-list.mobile-menu__nav-list
    li
      a(href="./") Главная
    li
      a(href="catalog.html") Галерея
    li
      a(href="blog.html") Блог
    li
      a(href="contact.html") Контакты
    li
      a(href="review.html") Отзывы

  form.form.orm__search
    .form-group
      input(type="text", name="s", placeholder="Поиск").form__field

  ul.categories-list
    li
      a(href="categories.html") Кухни
    li
      a(href="categories.html") Шкафы
    li
      a(href="categories.html") Гардеробы
    li
      a(href="categories.html") Детские
    li
      a(href="categories.html") Двери
    li
      a(href="categories.html") Шкафы
    li
      a(href="categories.html") Мебель для бизнеса
    li
      a(href="categories.html") Лестницы
    li
      a(href="categories.html") Столы и столики
    li
      a(href="categories.html") Кровати
    li
      a(href="categories.html") Витрины и гостиные
    li
      a(href="categories.html") Мебель для ванной
    li
      a(href="categories.html") Зеркала
    li
      a(href="categories.html") Тумбы, комоды, туалетные столики
    li
      a(href="categories.html") Экраны радиатора
    li
      a(href="categories.html") Другие изделия

  ul.social.mobile-menu__social
    li
      a(href="https://www.facebook.com/fatto.melel", target="_blank") Facebook
    li
      a(href="https://vk.com/fatto_by", target="_blank") Вконтакте
    li
      a(href="https://www.instagram.com/fatto.by/", target="_blank") Instagram
    li
      a(href="#", target="_blank") YouTube