.mobile-menu
  ul.nav-list.mobile-menu__nav-list
    li
      a(href="./") Главная
    li
      a(href="catalog.html") Галерея
    li
      a(href="#") Блог
    li
      a(href="#") Контакты
    li
      a(href="#") Отзывы

  form.form.orm__search
    .form-group
      input(type="text", name="s", placeholder="Поиск").form__field

  ul.categories-list
    li
      a(href="#") Кухни
    li
      a(href="#") Шкафы
    li
      a(href="#") Гардеробы
    li
      a(href="#") Детские
    li
      a(href="#") Двери
    li
      a(href="#") Шкафы
    li
      a(href="#") Мебель для бизнеса
    li
      a(href="#") Лестницы
    li
      a(href="#") Столы и столики
    li
      a(href="#") Кровати
    li
      a(href="#") Витрины и гостиные
    li
      a(href="#") Мебель для ванной
    li
      a(href="#") Зеркала
    li
      a(href="#") Тумбы, комоды, туалетные столики
    li
      a(href="#") Экраны радиатора
    li
      a(href="#") Другие изделия

  ul.social.mobile-menu__social
    li
      a(href="#") Facebook
    li
      a(href="#") Вконтакте
    li
      a(href="#") Instagram
    li
      a(href="#") YouTube